<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomTab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE2D286D1BB525E000D4D3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE2D28861BB525E000D4D3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE2D28911BB525E000D4D3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
